@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;
* {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
    margin: 0;
    padding: 0;
}


#waybar {
  background: transparent;
  color: @text;
}


#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces,
#window,
#network,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#idle_inhibitor,
#keyboard-state,
#tray,
#clock
{
  background-color: @surface0;
  padding: 0 0.5rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

#network,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#idle_inhibitor,
#keyboard-state
{
    margin: 0rem;
    border-radius: 0;
}

#network, #pulseaudio {
    border-radius: 1rem 0 0 1rem;
}
#battery, #idle_inhibitor {
    border-radius: 0rem 1rem 1rem 0rem;
}

#network {
    color: @lavender;
}
#cpu {
    color: @teal;
}
#memory {
    color: @flamingo;
}
#temperature {
    color: @maroon;
}

#clock {
  color: @blue;
}

#idle_inhibitor {
    color: @peach;
}
#pulseaudio {
    color: @sapphire;
}
#backlight {
  color: @yellow;
}

#power-profiles-daemon {
    color: @green;
}


#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}
