@import '../../.cache/wal/colors-waybar.css';

#waybar * {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 15px;
    min-height: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
}


/* #window label { */
/*     font-family: "Noto Sans Regular"; */
/* } */

#waybar {
  background: alpha(@background, 0.7);
  color: @cursor;
}

#waybar button {
}


#workspaces button {
  color: @cursor;
  padding: 0 0.25rem;
  padding-bottom: 0.25rem;
  border: none;
}

#workspaces button.visible {
  color: @foreground;
  font-weight: bold;
  border-bottom: 1px solid @color1;
}
#workspaces button.focused {
  color: @foreground;
  border-bottom: 1px solid @color2;
}

#workspaces button.urgent {
  color: @color3;
}

#workspaces button.empty {
  color: @color4;
}


#workspaces button:hover {
  color: @color1;
  border-bottom: 1px solid @color1;
}
#workspaces button:active{
  border:none;
  background: @green;
}

#workspaces,
#window,
#network,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#idle_inhibitor,
#keyboard-state,
#tray,
#clock
{
}

#network,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#idle_inhibitor,
#keyboard-state
{
    margin: 0rem;
}

#network, #pulseaudio {
}
#battery, #idle_inhibitor {
}

#network {
    color: @color15;
}
#cpu {
    color: @color14;
}
#memory {
    color: @color13;
}
#temperature {
    color: @color12;
}

#clock {
  color: @color11;
}

#idle_inhibitor {
    color: @color10;
}
#pulseaudio {
    color: @color9;
}
#backlight {
  color: @color8;
}

#power-profiles-daemon {
    color: @color7;
}


#battery {
  color: @color6;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-sep,
#custom-left,
#custom-right {
    color: @color1;
    padding: 0 0.25rem;
}
